*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    width:100%;
    height:100%;
    overflow:hidden;
}

.background{
    position:relative;
    width:100%;
    height:100vh;

    background:linear-gradient(
        to bottom,
        #2f62ff 0%,
        #5d8fff 45%,
        #cfdcf5 82%,
        #ffffff 100%
    );

    overflow:hidden;
}

.wave{
    position:absolute;
    left:-10%;
    width:120%;
    border-radius:50%;
}

/* Dark Blue Wave */
.wave1{
    height:260px;
    bottom:-140px;
    background:#0d2f9f;
}
