*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#07142d;
}

#loginPage{

    width:100%;
    min-height:100vh;

    background:url("images/New.png") center top/cover no-repeat;

}

/* TOP BAR */
.top-bar{
    height:25px;
    background:#1f5cff;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:12px;
    font-weight:600;
    text-align:center;
    padding:0 12px;
    line-height:1.2;
}
/* HEADER */

.main-header{
    height:50px;
    background:#fff;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 18px;
    box-shadow:0 2px 12px rgba(0,0,0,.08);
}
.logo-area h1{
    font-size:20px;
    margin:0;
    font-weight:800;
}

.logo-area p{
    margin-top:2px;
    font-size:7px;
    color:#666;
}

.logo-area span{
    color:#1f5cff;
}

.menu-btn{
    width:15px;
    height:15px;
    padding:0;
    margin-right:8px;


    display:flex;
    align-items:center;
    justify-content:center;

    background:transparent;
    border:none;
    cursor:pointer;

    color:#111;

    font-size:10px;   /* 26-30px ke beech adjust kar sakte ho */
    font-weight:200;
    line-height:1;

    padding:0;
    margin:0;
}
/* HERO */

.hero{

    text-align:center;

    padding-top:35px;

    color:#fff;

}

.security-logo{

    width:110px;

}

.hero h2{

    margin-top:15px;

    font-size:54px;

    font-weight:800;

}

.hero h2 span{

    color:#1e6bff;

}

.subtitle{

    margin-top:12px;

    font-size:20px;

    color:#d7d7d7;

}

/* LOGIN CARD */

.login-card{

    width:90%;

    height:850px;

    margin:40px auto;

    border-radius:30px;

    background    color:#1158ff;

}

.menu-btn{

    width:52px;

    height:52px;

    border:none;

    background:transparent;

    font-size:38px;

    cursor:pointer;

}
